html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family:Arial, Helvetica, Tahoma; font-size:12px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}

.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}

.fleft {float:left;}
.fright {float:right;}
.clear{clear:both;}

.sprite{ background:url(../img/sprite.png) no-repeat;}
.spritefiyat{ background:url(../img/fiyat-sprite.png) no-repeat;}
.radius{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/css/ie-css3.htc);
}
.relative{position:relative;}
.absolute{position:absolute;}




#toparea{
    width:100%;padding-top:20px;
}




#toparea .header { width: 950px; margin:0px auto; position:relative;padding-bottom:30px;}

#toparea .header .loginlink {font-size:14px; font-weight:bold;color:#166a9a; text-decoration:underline; position:absolute; top:20px; left:410px;}
#toparea .header .ilanno-ara{position:absolute; top:8px; left:535px; width:205px; height:41px; background:url(../img/search-box.jpg) no-repeat;}
.header .ilanno-ara input[type="text"]{ width:120px; height:27px; float:left; margin-top:5px; margin-left:10px; border:none;}
#toparea .header .ilanno-ara .buton { background: none repeat scroll 0 0 transparent;   border: none;   height: 41px;   margin-left: 29px;  text-indent: -9999px;   width: 45px; cursor:pointer;}
#toparea .header .ucretsiz-ilan-ver { position:absolute; top:8px; left:762px;}

#toparea .top-bar{background:#166a9a;width:100%; height:65px;}
#toparea .top-bar .search-bar { width: 950px; margin:0px auto; padding-top:10px;}


#toparea .top-bar .search-bar .nereye{ background-color:#f4f4f4; width:322px; height:40px; float:left;}
#toparea .top-bar .search-bar .nereye .nereyeimg{float:right; margin-right:10px; margin-top:7px; width:25px; height:25px;background-position:0 0; }
#toparea .top-bar .search-bar .nereye .input-nereye {height: 35px; border: none; background: none; width: 270px; margin-left: 15px; font-size: 14px; color: #166a9a;}

#toparea .top-bar .search-bar .tarih1{ background-color:#f4f4f4; width:150px; height:40px;float:left; margin-left:20px; display:block;}
#toparea .top-bar .search-bar .tarih1img{float:right; margin-right:10px; margin-top:7px; width:25px; height:27px; background-position:0px -28px; }
#toparea .top-bar .search-bar .tarih1 .input-tarih1{height: 35px; border: none; background: none; width: 100px; margin-left: 10px; font-size: 14px; color: #166a9a;}

#toparea .top-bar .search-bar .tarih2{ background-color:#f4f4f4; width:150px; height:40px; float:left; margin-left:20px;}
#toparea .top-bar .search-bar .tarih2img{float:right; margin-right:10px; margin-top:7px; width:25px; height:27px; background-position:0 -57px; }
#toparea .top-bar .search-bar .tarih2 .input-tarih2{height: 35px; border: none; background: none; width: 100px; margin-left: 10px; font-size: 14px; color: #166a9a;}

#toparea .top-bar .search-bar .kisi-sayisi{ background-color:#f4f4f4; width:130px; height:40px; float:left; margin-left:20px;}
#toparea .top-bar .search-bar .kisi-sayisisiimg{float:right; margin-right:10px; margin-top:7px; width:25px; height:27px; background-position:0 -86px; }
#toparea .top-bar .search-bar .kisi-sayisi .input-kisi-sayisi {height: 35px; border: none; background: none; width: 70px; margin-left: 15px; font-size: 14px; color: #166a9a;}

#toparea .top-bar .search-bar .ara .buton{height: 40px; width:118px; border: none; margin-left: 20px; text-indent: -999px; background-position: -29px 0; cursor:pointer; }





#container .main{ width: 950px; margin:0px auto; position:relative; margin-top:15px;}

.main .main-slider { width:700px; margin-right:18px;}

.populer-sehirler {margin-top:20px;width :230px; background:#f7f6f6; border:1px solid #e3e3e3;padding-bottom:15px;}
.populer-sehirler .baslik{ font-size:16px; color: #2573a1; padding:10px 0px; border-bottom:1px solid #e3e3e3; text-align:center;}
.populer-sehirler li{ float:left; padding:4px 0px 0px 20px; width:90px;  font-size:12px;}
.populer-sehirler ul{overflow: hidden;}
.populer-sehirler li a{ color:#2573a1;}
.populer-sehirler li a:hover{ tex-decoration:underline}

.populer-sehirler ul li:before {
    color:#9b999a; /* set color to red */
    content:"\2022"; /* /2022 is the numerical unicode for &bull; */
    font-size:2.0em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
    padding-right:5px; /* give the bullet some padding from the text Make sure to use em*/
    position:relative;
    top:4px; /* set the vertical position of the bullet if necessary. Make sure to use em or % */
}



.center-info .infobox1 { width:310px; margin-right:10px;}
.center-info .infobox1 .info-image{ margin-top:20px;margin-right:20px; background-position: 0px -242px; width:72px; height:72px; }
.center-info .infobox1 .info{ width:215px; overflow:hidden;}
.center-info .infobox1 .baslik{ margin-top:30px; margin-bottom:10px; font-size:16px; font-weight:bold; color: #166a9a; }
.center-info .infobox1 .text{ font-size:12px; color: #a3a5a6; }


.center-info .infobox2 { width:310px;  margin-right:10px;}
.center-info .infobox2 .info-image{ margin-top:20px; margin-right:20px;background-position: 0px -316px; width:72px; height:72px; }
.center-info .infobox2 .info{ width:215px; overflow:hidden;}
.center-info .infobox2 .baslik{ margin-top:30px; margin-bottom:10px; font-size:16px; font-weight:bold; color: #166a9a; }
.center-info .infobox2 .text{ font-size:12px; color: #a3a5a6; }

.center-info .infobox3 { width:310px;}
.center-info .infobox3 .info-image{ margin-top:20px; margin-right:20px;background-position: 0px -316px; width:72px; height:72px; }
.center-info .infobox3 .info{ width:215px; overflow:hidden;}
.center-info .infobox3 .baslik{ margin-top:30px; margin-bottom:10px; font-size:16px; font-weight:bold; color: #166a9a; }
.center-info .infobox3 .text{ font-size:12px; color: #a3a5a6; }


#one-cikanlar .baslik { margin: 40px 0px 25px 0px;}
#one-cikanlar h1 {position: relative;} 
#one-cikanlar h1 span { background: #fff; padding:0px 10px 0px 0px; position: relative; z-index: 5; font-size:16px; color:#9b999a;}
#one-cikanlar h1.two+p { border-top: solid 1px #9b999a; margin-top: -7px;}

#sondakika-firsatlari .baslik { margin-bottom:25px;}
#sondakika-firsatlari h1 {position: relative;} 
#sondakika-firsatlari h1 span { background: #fff; padding:0px 10px 0px 0px; position: relative; z-index: 5; font-size:16px; color:#166a9a;}
#sondakika-firsatlari h1.two+p { border-top: solid 1px #9b999a; margin-top: -7px;}


#guncel-rezervasyonlar .baslik { margin-bottom:25px;}
#guncel-rezervasyonlar h1 {position: relative;} 
#guncel-rezervasyonlar h1 span { background: #fff; padding:0px 10px 0px 0px; position: relative; z-index: 5; font-size:16px; color:#166a9a;}
#guncel-rezervasyonlar h1.two+p { border-top: solid 1px #9b999a; margin-top: -7px;}


#ilginizi-cekebilir .baslik { margin-bottom:25px;}
#ilginizi-cekebilir  h1 {position: relative;} 
#ilginizi-cekebilir  h1 span { background: #fff; padding:0px 10px 0px 0px; position: relative; z-index: 5; font-size:16px; color:#166a9a;}
#ilginizi-cekebilir  h1.two+p { border-top: solid 1px #9b999a; margin-top: -7px;}



.advert-box {overflow:hidden;}
.advert-box a{text-decoration:none;}
.advert-box li {width:300px; height:305px; float:left; margin-right:23px; margin-bottom:20px;}
.advert-box .fiyatbox1{position:absolute; height:80px; width:100px; top:10px; right:10px; background-position:0px 0px; text-align:center; color:#fff;}
.advert-box .fiyatbox2{position:absolute; height:80px; width:100px; top:10px; right:10px; background-position:0px 0px; text-align:center; color:#fff;}
.advert-box .fiyatbox3{position:absolute; height:80px; width:100px; top:10px; right:10px; background-position:0px 0px; text-align:center; color:#fff;}
.advert-box .fiyat{font-size:50px;padding-top:5px;}
.advert-box sup {font-size:26px;}
.advert-box .advert-detay {height:60px; background:#f7f6f6; border: 1px solid #e8e8e8; padding:10px 5px; overflow:hidden;}
.advert-box h1{font-size:16px; line-height:18px; height:20px; font-weight:bold; color:#2573a1;margin-bottom:5px;}
.advert-box h2{font-size:14px; line-height:14px; color:#33383a;margin-bottom:7px;}
.advert-box h3{font-size:14px; line-height:14px; font-weight:bold; color:#33383a;}

.advert-box sup { vertical-align: top; position:relative; top: 3px; }

.nereden-ev-kiralamak  {width :298px; height:300px; border:1px solid #e3e3e3;padding-bottom:8px;}
.nereden-ev-kiralamak ul li{ float:left; padding:4px 0px 0px 20px; width:45px; height:0px;  font-size:12px;}
.populer-sehirler ul{overflow: hidden; margin-top:10px;}
.nereden-ev-kiralamak ul li a{ color:#33383a;}
.nereden-ev-kiralamak ul li a:hover{ tex-decoration:underline}

.nereden-ev-kiralamak  ul li:before {
    color:#fddb87; /* set color to red */
    content:"\2022"; /* /2022 is the numerical unicode for &bull; */
    font-size:2.0em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
    padding-right:5px; /* give the bullet some padding from the text Make sure to use em*/
    position:relative;
    top:4px; /* set the vertical position of the bullet if necessary. Make sure to use em or % */
}



.epostaliste-mailbirak { background: url(../img/bultene-uye-ol1.jpg) no-repeat; width:301px; height:197px; margin-left:20px;}
.epostaliste-mailbirak input{margin-top: 147px;margin-left:32px; margin-right:5px;width: 170px; height:21px; float:left; padding:0px 5px;}
.epostaliste-mailbirak .ekle-buton{margin-top: 147px; display:block; color:#494949; background:#efeff2; border:1px solid #acb1b3; width:44px; height:23px; text-align:center; text-decoration:none;line-height:24px; float:left;}

.sidebar-epostaliste-mailbirak { background: url(../img/bultene-uye-ol2.jpg) no-repeat; width:233px; height:157px;}
.sidebar-epostaliste-mailbirak input{margin-top: 117px;margin-left:20px; margin-right:5px;width: 150px; height:18px; float:left; padding:0px 5px; border:1px solid #d9d9d9}
.sidebar-epostaliste-mailbirak .ekle-buton{margin-top: 117px; display:block; color:#494949; background:#efeff2; border:1px solid #acb1b3; width:33px; height:17px; text-align:center; text-decoration:none;line-height:19px; float:left;}


#bottom-area {margin-top:30px;}
#bottom-area .bottom-line{width:100%; background:#29353b;padding: 10px 0px; }
#bottom-area .bottom-line-center{ margin:0px auto; width:950px; }

.bottom-line-center .mail-input2{ width:215px; height:21px; border:1px solid #d9d9d9; background:#fff;}
.bottom-line-center .ekle-buton2{ color:#494949; background:#efeff2; border:1px solid #fff; width:45px; height:23px; text-align:center; text-decoration:none;line-height:24px;margin-left:5px;}

.bottom-line-center .bottom-social{ margin-top:3px;}
.bottom-line-center .bottom-social u{overflow:hidden;}
.bottom-line-center .bottom-social ul li{float:left;margin-right:10px;}
.bottom-line-center .bottom-social .facebook-buton{display: block; background-position: -68px -41px; width:20px; height:20px;}
.bottom-line-center .bottom-social .twitter-buton{display: block; background-position: -98px -41px; width:20px; height:20px;}
.bottom-line-center .bottom-social .google-buton{display: block; background-position: -127px -41px; width:20px; height:20px;}

.footer-bottom{width:100%; background:#f0f0f0; height:130px; padding:15px 0px; border-top: 2px solid #d9d9d9; border-bottom: 2px solid #d9d9d9;}
.footer-bottom-center{ margin:0px auto; width:950px; }
.footer-bottom-center h1{ color:#000; font-size:11px; font-weight:bold; padding-bottom:15px; margin-bottom:15px;border-bottom: 2px dotted #000;}
.footer-bottom-center .uye-kuruluslar{ width:550px; margin-right:100px;}
.footer-bottom-center .footer-links li{ margin-top:10px; line-height:14px;}
.footer-bottom-center .footer-links li a{ color:#838383; text-decoration:none;}
.footer-bottom-center .footer-links a:hover{text-decoration:underline;}
.footer-bottom-center .kurumsal{margin-right:20px;}

.copyright{padding:10px 0px; margin:0px auto; width:950px;} 

.copyright .copyright-text{ color:#5f5f5f; font-size:10px; width:645px;margin-top:10px;}
.copyright .cards .payu{ background-position:0px -112px; width:75px; height:29px; display:block;}
.copyright .cards .visa{ background-position:0px -146px; width:42px; height:27px; display:block; margin-left:135px;}
.copyright .cards .master{ background-position:-47px -146px; width:42px; height:27px; display:block;margin-left:10px;}


#container .main-content {width:690px; border:1px solid #e8e8e8;  padding: 20px 0px; min-height:480px; margin-top:20px;margin-right:25px;}
#container .main-content  .top-baslik{padding-bottom:20px; border-bottom:1px solid #e8e8e8; color:#2573a1; font-size:18px; text-indent: 30px;}
#container .main-content  .content {padding: 20px; font-size:14px; line-height:22px; font-weight:bold; color:#3e494e; text-align:justify;}
#container .main-content  .content  p{margin:10px 0px;}
#container .main-content  .content  .red{color:#d3360b; line-height:30px;}
#container .main-content  .content  .red2{color:#ff0000; line-height:30px;}
#container .main-content  .content  .blue{color:#166a9a; line-height:30px;}
#container .main-content  .content  .orange{color:#eb8b0e; line-height:30px;}
#container .main-content  .content  .green{color:#5c7a13; line-height:30px;}


#container .main-content  .content  .password-reminder p{ margin-bottom:20px;}
#container .main-content  .content  .password-reminder input[type="text"]{ width:350px; height:20px; color:#166a9a; padding:5px 10px;}
#container .main-content  .content  .password-reminder .submit{height:30px; padding:5px 10px; background:none; border:1px solid #7d7d7d; font-size:14px; cursor:pointer; margin-left:292px;}

#container .main-content  .content  .register ul{overflow:hidden;}
#container .main-content  .content  .register li{ margin-bottom:25px;}
#container .main-content  .content  .register .text{ width:370px; float:right; height:20px; padding:5px 10px;border:1px solid #7d7d7d; font-size:14px;}
#container .main-content  .content  .register .birthdate{ width:128px; padding:5px 10px; font-size:14px;}
#container .main-content  .content  .register .submit{height:40px; padding:5px 10px; background:none; border:1px solid #7d7d7d; font-size:16px; cursor:pointer; margin-left:464px;}

#container .main-content  .content  .register .info{padding-bottom:20px; margin-bottom:20px; border-bottom:1px solid #c9c9c9;}

#container .main-content  .content  .contact-form ul{overflow:hidden;}
#container .main-content  .content  .contact-form li{ margin-bottom:25px;}
#container .main-content  .content  .contact-form .baslik{padding: 10px 20px; border:1px solid #c9c9c9; margin-bottom:20px; background:#f4f4f4;}
#container .main-content  .content  .contact-form .text{ width:370px; float:right; height:20px; padding:5px 10px;border:1px solid #7d7d7d; font-size:14px;}
#container .main-content  .content  .contact-form .textarea{ width:370px; float:right; height:80px; padding:5px 10px;border:1px solid #7d7d7d; font-size:14px;}
#container .main-content  .content  .contact-form .submit{height:40px; padding:5px 10px; background:none; border:1px solid #7d7d7d; font-size:16px; cursor:pointer; margin-left:559px;}

#container .main-content  .content .kampanyalar-listing .info  {padding-left:30px; padding-top:30px; width:300px;}
#container .main-content  .content .kampanyalar-listing .info h1{ font-size:16px; margin-bottom:10px;}
#container .main-content  .content .kampanyalar-listing .info h2{ font-size:20px;}
#container .main-content  .content .kampanyalar-listing ul li { margin-bottom:25px; border:1px solid #e8e8e8; display:block;}
#container .main-content  .content .kampanyalar-listing .fiyatbox1{position:absolute; height:46px; width:86px; top:55px; background-position:-159px 0px; text-align:center; color:#fff;}
#container .main-content  .content .kampanyalar-listing  .fiyatbox2{position:absolute; height:46px; width:86px; top:40px; background-position:-159px -53px; text-align:center; color:#fff;}
#container .main-content  .content .kampanyalar-listing  .fiyat{font-size:28px;padding-top:9px;}
#container .main-content  .content .kampanyalar-listing sup{vertical-align: top;position: absolute;top: 3px; font-size:16px;}
#container .main-content  .content .kampanyalar-listing a{text-decoration: none; color:#444;}


#container .main-content  .content .kampanyalar-detay {padding :30px 40px;}
#container .main-content  .content .kampanyalar-detay .info  {padding-left:20px; padding-top:20px;}
#container .main-content  .content .kampanyalar-detay .info h1{ font-size:16px; margin-bottom:10px;}
#container .main-content  .content .kampanyalar-detay .info h2{ font-size:20px; margin-bottom:25px;}
#container .main-content  .content .kampanyalar-detay  .kampanya-don{ text-decoration:none; font-size:12px; padding:5px 10px; display:block; border:1px solid #e2e2e2; color:#444;}

#container .main-content  .content .kampanyalar-detay .fiyatbox1{position:absolute; height:105px; width:193px; top:245px; right:0px; background-position:-84px -251px; text-align:center; color:#fff;}
#container .main-content  .content .kampanyalar-detay .fiyat{font-size:80px;padding-top:35px;}
#container .main-content  .content .kampanyalar-detay  sup {vertical-align: top;position: absolute;top: 20px; font-size:50px;}



.accordion {
	margin: 0;
    padding:10px;
    height:20px;
    text-decoration:none;
    color: #d3360b;
    font-size:14px;
}
#accordion .main{
    width: 580px;
}
#accordion .border{
    border:#f0f0f0 1px solid;
}
.accordion-open,
.collapse-open {
	
}
.accordion-open span,
.collapse-open span {
	display:block;
	float:right;
	padding:10px;
}
.accordion-open span,
.collapse-open span {
	background:url(../img/minus.png) center center no-repeat;
}
.accordion-close span,
.collapse-close span {
	display:block;
	float:right;
	background:url(../img/plus.png) center center no-repeat;
	padding:10px;
}




#container  .ilan-content {font-size:14px; line-height:22px; width:700px;margin-right:18px;}
#container   .ilan-content   p{margin:10px 0px;}
#container  .ilan-content   .red{color:#d3360b; line-height:30px;}
#container   .ilan-content   .red2{color:#ff0000; line-height:30px;}
#container   .ilan-content   .orange{color:#eb8b0e;; line-height:30px;}
#container   .ilan-content   .blue{color:#166a9a; line-height:30px;}

#container   .ilan-content   .ilan-detay{padding:10px 0px; border:1px solid #e8e8e8;}
#container   .ilan-content   .ilan-detay .info-left{float:left;width:490px; padding:0px 10px;}
#container   .ilan-content   .ilan-detay .info-left .baslik{font-size:16px;margin-bottom:10px; color:#eb3a0a;font-weight:bold;}
#container   .ilan-content   .ilan-detay .info-left .text{font-size:14px;margin-bottom:10px;font-weight:bold;}
#container   .ilan-content   .ilan-detay .info-left .kisilik{position:absolute; font-size:60px;font-weight:bold; top:57px; left:350px;}
#container   .ilan-content   .ilan-detay .info-left .kisilik span{font-size:35px;font-weight:bold;}
#container   .ilan-content   .ilan-detay .info-left .kisilik sup{ font-size:25px;font-weight:bold;vertical-align: top; }

#container   .ilan-content   .ilan-detay .info-right{float:right;padding:0px 10px; text-align:right;}
#container   .ilan-content   .ilan-detay .info-right .ilanno{font-size:14px;}
#container   .ilan-content   .ilan-detay .info-right .ilanno span{font-size:24px;color:#166a9a;}
#container   .ilan-content   .ilan-detay .info-right .favoriekle{margin-top:10px;display:block;  background-position: -48px -66px; width:110px; height:40px;}


#container  .ilan-content .detay-social{ margin-top:10px;}
#container  .ilan-content .detay-social {overflow:hidden;}
#container  .ilan-content .detay-social li{float:left;margin-right:7px;}
#container  .ilan-content .detay-social .facebook-buton{display: block; background-position: -68px -41px; width:20px; height:20px;}
#container  .ilan-content .detay-social .twitter-buton{display: block; background-position: -98px -41px; width:20px; height:20px;}
#container  .ilan-content .detay-social .google-buton{display: block; background-position: -127px -41px; width:20px; height:20px;}
#container  .ilan-content .detay-social .pinterest-buton{display: block; background-position: -27px -64px; width:20px; height:20px;}

#container  .ilan-content .detay-flexslider{ width:640px;margin-left:30px;}
#container  .ilan-content .detay-flexslider-thumb{ width:640px;margin-left:30px;}
#container  .ilan-content .detay-flexslider-thumb li{ margin-right:42px;}

#container   .ilan-content   .ilan-detay-tabs{margin-top:25px; border:1px solid #e8e8e8;}


.etabs { margin: 0; padding: 0; border-bottom:1px solid #e8e8e8;}
.tab { display: inline-block; zoom:1; *display:inline;  }
.tab a { font-size: 18px; line-height: 20px; display: block;text-decoration:none; color:#444;  padding:10px 30px; }
.tab a:hover { text-decoration: none; }
.tab.active {border-bottom:2px solid #2573a1; }
.tab a.active { }
.tab-container .panel-container {padding:20px; }

#container   .ilan-content   .ilan-detay-tabs .ozellikler {overflow:hidden;}
#container   .ilan-content   .ilan-detay-tabs .ozellikler li {float:left; font-size:12px; min-width:150px; margin-right:10px;}
#container   .ilan-content   .ilan-detay-tabs .ozellikler li:before {
    color:#c1c1c1; /* set color to red */
    content:"\2022"; /* /2022 is the numerical unicode for &bull; */
    font-size:2.0em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
    padding-right:5px; /* give the bullet some padding from the text Make sure to use em*/
    position:relative;
    top:4px; /* set the vertical position of the bullet if necessary. Make sure to use em or % */
}

.rezervasyon-yap-sidebar{display:block; background:#166a9a; padding:10px;}

.rezervasyon-yap-sidebar .tarih1{ background-color:#f4f4f4; width:175px; height:40px; margin-left:20px; display:block;}
.rezervasyon-yap-sidebar .tarih1img{float:right; margin-right:10px; margin-top:7px; width:25px; height:27px; background-position:0px -28px; }
.rezervasyon-yap-sidebar .tarih1 .input-tarih1{height: 35px; border: none; background: none; width: 100px; margin-left: 10px; font-size: 14px; color: #166a9a;}
.rezervasyon-yap-sidebar .tarih2{ background-color:#f4f4f4; width:175px; height:40px; margin-left:20px;}
.rezervasyon-yap-sidebar .tarih2img{float:right; margin-right:10px; margin-top:7px; width:25px; height:27px; background-position:0 -57px; }
.rezervasyon-yap-sidebar .tarih2 .input-tarih2{height: 35px; border: none; background: none; width: 100px; margin-left: 10px; font-size: 14px; color: #166a9a;}
.rezervasyon-yap-sidebar .kisi-sayisi{ background-color:#f4f4f4; width:175px; height:40px;  margin-left:20px;}
.rezervasyon-yap-sidebar .kisi-sayisisiimg{float:right; margin-right:10px; margin-top:7px; width:25px; height:27px; background-position:0 -86px; }
.rezervasyon-yap-sidebar .kisi-sayisi .input-kisi-sayisi {height: 35px; border: none; background: none; width: 70px; margin-left: 15px; font-size: 14px; color: #166a9a;}
.rezervasyon-yap-sidebar .ara .buton{margin-left:120px;padding:10px; color:#fff; font-size:15px; border: none; text-align: center; background:#f8b718; cursor:pointer; }
